@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap');
.Navbar {
    display: flex;
    justify-content: left;
}
.Navbar .left_side{
    width: 15rem;
    height: 93vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 3rem;
}
.Navbar .left_side .instagram_title{
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.Navbar .left_side .instagram_title a{
    text-decoration: none;
    color: black;
}
.Navbar .left_side .left_item{
    display: flex;
    margin-top: 2rem;
    overflow: hidden;
    margin-left:0.2rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: larger;
}
.Navbar .left_side .left_item .item_list, .logout_popup{
    list-style: none;
    align-items: center;
    margin-bottom: 1.5rem;
    transition: all .3s linear;
    width: 90%;
    padding:0.5rem;
}
.Navbar .left_side .left_item .item_list:hover, .logout_popup:hover{
    background-color: rgb(125, 123, 123);
    border:1px solid black;
    border-radius: 15px;
}
.Navbar .left_side .left_item .item_list .item_list_link{
    display: flex;
    color:black;
    text-decoration: none;
}
.Navbar .left_side .left_item .item_list .item_list_link .side_profile_icon{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
    width: 21px;
    height: 21px;
}
.Navbar .left_side .left_item #sidemenu_more{
    position: absolute;
    bottom: 1rem;
    height: 4vh;
    display: flex;
    width: 74%;
}
.Navbar .main_home_side_line{
    height: 98vh;
    width: 0px;
    margin: 5px 1rem;
    border: 1px solid rgb(14, 13, 13);
}
.modal{
    width:450px;
    background-color:antiquewhite;
    border-radius: 15px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal .new_post_header_section{
    height: 50px;
    display: flex;
    width:100%;
    /* justify-content: center;
    align-items: center; */
}
.modal .new_post_header_section .new_post_header{
    height: 45px;
    font-weight: 600;
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.modal .new_post_header_section .new_post_save{
    width:50px;
    height: 20px;
    margin-top: 14px;
    margin-right: 5px;
    font-weight: 600;
    float: right;
}
.modal .new_post_header_section .close_crete_model{
    margin-left: 280px;
    height: 20px;
    width: 20px;
    border-top-right-radius: 50%;
}
.modal .new_post_content{
    height: 300%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal .new_post_footer{
    height: 100%;
    width: 90%;
}
.modal .new_post_footer textarea{
    height: 85%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
}

 