.showpost{
    width: 100%;
    min-height:80vh ;
    position: fixed;
    top:0;
    left:20%;
    background-color: rgba(16, 13, 13, 0.4);    
}
.full_post_show{
    display: flex;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 500px;
}
.postpic{
    background-color: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-width: 50%;
    height: inherit;
}
.postpic img{
    object-fit: contain;
    width: 100%;
}
.full_post_details{
    min-width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.deletepost{
    margin-left: 280px;
    cursor: pointer;
}
.comment_section{
    flex-grow: 4;
    text-align: left;
    margin-left: 10px;
}
.close_comment{
    position: fixed;
    top: 1%;
    right: 5%;
    color: white;
    border: none;
    cursor: pointer;
}